<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .text-red {
      color: red;
    }

    .text-green {
      color: green;
    }
  </style>
</head>
<body class="h-full grid place-items-center">
  <div id="app">
    <!-- <p>
      <input type="text" v-model="greeting" id="">
    </p>
    <p>
      {{ greeting }} {{ greeting.length }}
    </p> -->

    <!-- <button :class="active ? 'text-red' : 'text-green'" @click="toggle"> Click Me </button> -->
    <section v-show="inProgressAssignments.length">
      <h2 class="font-bold mb-2">In progress</h2>

      <ul>
        <li 
          v-for="assignment in inProgressAssignments" 
          :key="assignment.id"
        >
          <label>
            {{ assignment.name }}
            <input type="checkbox" v-model="assignment.complete">
          </label>
        </li>
      </ul>
    </section>

    <section v-show="completedAssignments.length" class="mt-8">
      <h2 class="font-bold mb-2">Completed Assignments</h2>

      <ul>
        <li 
          v-for="assignment in completedAssignments" 
          :key="assignment.id"
        >
          <label>
            {{ assignment.name }}
            <input type="checkbox" v-model="assignment.complete">
          </label>
        </li>
      </ul>
    </section>
  </div>

  <script>
    let app = {
      data() {
        return {
          assignments: [
            { name: 'Finish project', complete: false, id: 1 },
            { name: 'Read Chapter 4', complete: false, id: 2 },
            { name: 'Turn in homework', complete: false, id: 3 },
          ]
        }
      },

      computed: {
        completedAssignments() {
          return this.assignments.filter(assignment => assignment.complete);
        },
        
        inProgressAssignments() {
          return this.assignments.filter(assignment => !assignment.complete);
        }
      }
    };

    Vue.createApp(app).mount('#app');

    // Vue.createApp({
    //   data() {
    //     return {
    //       // greeting: 'Hello World'
    //       buttonClasses: 'text-green',
    //       active: false
    //     }
    //   },
    //   methods: {
    //     toggle(){
    //       this.active = ! this.active
    //     }
    //   },
    //   // mounted() {
    //   //   setTimeout(() => {
    //   //     this.greeting = 'Changed';
    //   //   }, 3000);
    //   // },
    // }).mount('#app');
  </script>
</body>
</html>